/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF6584;
    /* --primary-color: rgb(200, 255, 0); */
    --secondary-color: #282828;
    --bg-color: #121212;
    --text-color: #ffffff;
    --vh: 1vh;
}

@font-face {
    font-family: 'GoodTimes';
    src: url('assets/fonts/GoodTimesRg.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    background-image: 
        linear-gradient(150deg, rgba(255, 255, 255, 0.349) 1px, transparent 1px),
        linear-gradient(30deg, rgba(255, 255, 255, 0.226) 1px, transparent 1px);
    background-size: 40px 40px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: clamp(22px, 2vw, 26px);
    line-height: 1.6;
    overflow-x: hidden;
}

.no-select {
    user-select: none;
}

/*SECTIONS*/
.section {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    color: var(--text-color);
}

.section > * {
    margin: 0 !important;
    padding: 0;
    max-width: 100%;
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

#particles-js-hero, #particles-js-projects, #particles-js-skills, #particles-js-gaming, #particles-js-about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

#hero, #past-projects, #skills-technologies, #about-me {
    background: linear-gradient(135deg, rgba(40, 40, 40, 0.9), rgba(255, 101, 132, 0.7));
    position: relative;
    overflow: hidden;
    padding: 50px;
    text-align: center;
    color: var(--text-color);
}

/*TEXT*/

h1, h2, h3, h4, h5, .badge{
    font-size: clamp(1rem, 1vw, 3rem);
    font-family: 'GoodTimes', sans-serif; 
    text-align: center;
    padding: 5px;
    margin: 5px;
}

button, .btn {
    font-family: 'GoodTimes', sans-serif;
    font-size: clamp(22px, 2vw, 26px);
}

p, a{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; 
}

/*INTERACTIVITY*/

#scroll-buttons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#scroll-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    margin: 5px 0;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

#scroll-buttons button:disabled {
    opacity: 0.3;
    cursor: default;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 65%;
    height: 10%;
    transform: translateY(-50%);
    z-index: 500 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
}

/*FEATURED PROJECTS*/

#projectCarousel.carousel {
    width: 90vw;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: auto;
}

#projectCarousel.carousel-inner {
    display: block; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
    height: 100%;
}

#projectCarousel.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#projectCarousel.carousel-content img{
    max-width: 100%;
    height: 10vh !important;
    overflow: hidden;
}

.project-card{
    background-color: var(--secondary-color);
    height: 80vh;
    width: 100%;
    opacity: 1;
    z-index: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card>img{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

.iframe-container{
    position: relative;
    top: 0;
    left: 0;
    width: 45vw;
    height: 30vh !important;
    border: 0;
    margin: auto !important;
}

/*CHIPS*/

.tech-chips, 
.tech-chips-vertical {
    margin-top: auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: end;
    margin-top: 0;
    margin-bottom: 5%;
}

.skill-item > .tech-chips-vertical{
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.tech-chips span, 
.tech-chips-vertical span {
    background-color: var(--primary-color);
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: clamp(0.5rem, 3vw, 0.8rem);
    white-space: nowrap;
    display: inline-block;
    cursor: grab;
    margin: 2px;
}

/*COMBINED SECTION*/

.completed-skills, 
.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important; 
    justify-content: flex-start !important;
    align-items: start !important;
    overflow-x: auto; 
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    scrollbar-width: thin; /* Firefox - Thin scrollbar */
    scrollbar-color: #FF6584 rgba(255, 255, 255, 0.1); /* Firefox - Thumb and track colors */
    scroll-snap-type: none;
}

.completed-skills::-webkit-scrollbar, 
.skills-container::-webkit-scrollbar {
    height: 8px;
}

.completed-skills::-webkit-scrollbar-thumb, 
.skills-container::-webkit-scrollbar-thumb {
    background-color: #FF6584;
    border-radius: 10px;
}

.completed-skills::-webkit-scrollbar-track, 
.skills-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}

.skill-item{
    background-color: var(--secondary-color);
    z-index: 5;
    min-width: 150px !important;
    max-width: 220px !important;
    height: 30vh;
    padding: 20px 15px;
    border-radius: 8px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

/*ABOUT ME*/

#about-me{
    width: 80vw;
    margin: auto;
}

#about-me img{
    width: 18vh;
    height: 18vh;

    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.about-details {
    flex: 1;
    text-align: left;
    line-height: 2.8;
}

.social-links>.btn{
    width: 75%;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.btn-github {
    background-color: #333;
}
.btn-github:hover {
    background-color: #555;
}
.btn-linkedin {
    background-color: #0077b5;
}
.btn-linkedin:hover {
    background-color: #005582;
}
.btn-email{
    background-color: #28A745; 
}
.btn-email:hover{
    background-color: #1E7A33;
}
.btn-itchio{
    background-color: #FF5C5A ;
}
.btn-itchio:hover{
    background-color: #d14a48 ;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-height: 100%;
}

.profile-image-links {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (hover: hover) and (pointer: fine) {
    .clickable {
        cursor: pointer; 
        border: 2px solid transparent; 
        transition: border-color 0.3s ease; 
    }
    
    .clickable:hover {
        border-color: var(--primary-color);
    }
    
    .clickable:hover.skill-item{
        transform: translateY(-5px);
    }
    
}

/*MODAL*/

.modal-content {
    background-color: #282828;
    color: #ffffff;
}

.modal-title {
    font-family: 'GoodTimes', sans-serif; 
    font-size: 3vw;
}

.modal{
    height: 95vh;
}

.modal-body {
    flex: 1 1 auto;
    font-size: clamp(1rem, 2.5vw, 1.25rem); 
    line-height: 1.6; 
    overflow-y: auto;
    height: 70vh;
}

.modal-body p, .modal-body ul, .modal-body h5, .modal-body h6 {
    margin-bottom: 1em;
    line-height: 1.1;
}

.modal-body ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

.modal-body h5 {
    font-weight: 600;
    color: #ff6584;
    margin-top: 1em;
}

.modal-body h6 {
    font-weight: 500;
    color: #ffffff;
    margin-top: 1em;
}

.modal-dialog.modal-xl {
    max-width: 90vw;
}

#projectModal .carousel-content img {
    max-height: 400px; 
    width: auto; 
    object-fit: contain;
    margin: auto;
}



/* Mobile Portrait (Small Phones) */
@media (max-width: 360px) {
    h1{
        padding: auto;
        font-size: 1.2em !important;
        font-weight: 600 !important;
    }

    h2{
        font-size: 0.8em !important;
    }

    h4{
        font-size: 0.5em !important;
    }

    p{
        font-size: 0.6em !important;
    }

    .modal-body p{
        font-size: 0.7em !important;
        background-color: blue;
    }

    #past-projects, #skills-technologies{
        padding: 5px;
    }

    .skill-item{
        padding: 10px;
        min-height: 250px;
        margin-bottom: 2px;
    }

    #past-projects > h2,
    #skills-technologies > h2{
        margin-bottom: 3px !important;
    }
    
    .skill-item .tech-chips-vertical{
        padding-top: 0;
    }

    #about-me{
        width: 100vw !important;
        padding: 20px !important;
    }

    .about-details{
        line-height: 1.2 !important;
    }

    .social-links > .btn{
        font-size: 0.6em !important;
    }
}

/* Small Phones like iPhone SE */
@media (max-width: 375px) {
    /* Styles for small phones (375 x 667) */
    h1{
        padding: auto;
        font-size: 1.2em !important;
        font-weight: 600 !important;
    }

    h2{
        font-size: 0.8em !important;
    }

    h4{
        font-size: 0.5em !important;
    }

    p{
        font-size: 0.6em !important;
    }

    #past-projects, #skills-technologies{
        padding: 5px;
    }

    .skill-item{
        padding: 10px;
        min-height: 260px;
        margin-bottom: 2px;
    }

    #past-projects > h2,
    #skills-technologies > h2{
        margin-bottom: 3px !important;
    }
    
    .skill-item .tech-chips-vertical{
        padding-top: 0;
    }

    #about-me{
        width: 100vw !important;
        padding: 20px !important;
    }

    .about-details{
        line-height: 1.2 !important;
    }

    .social-links > .btn{
        font-size: 0.6em !important;
    }
}

/* Modern Phones (Pixel, iPhone 12/13) */
@media (max-width: 393px) {
    /* Styles for medium phones (393 x 851) */
    h1{
        padding: auto;
        font-size: 1.2em !important;
        font-weight: 600 !important;
    }

    h2{
        font-size: 0.8em !important;
    }

    h4{
        font-size: 0.5em !important;
    }

    p{
        font-size: 0.5em !important;
    }
    #past-projects, #skills-technologies{
        padding: 5px;
    }
    .skill-item{
        min-width: 160px !important;
        padding: 10px;
        min-height: 300px;
        margin-bottom: 2px;
    }
    #past-projects > h2,
    #skills-technologies > h2{
        margin-bottom: 3px !important;
    }
    
    .skill-item .tech-chips-vertical{
        padding-top: 0;
    }
    #about-me{
        width: 100vw !important;
        margin-left: 0 !important;   
        padding: 20px !important;
    }

    .about-details{
        line-height: 1.5 !important;
    }

    .social-links > .btn{
        font-size: 0.6em !important;
    }
}

/* Small Tablets */
@media (max-width: 600px) {
    /* Styles for small tablets (600 x 1024) */
    #past-projects, #skills-technologies{
        padding: 5px;
    }
    .skill-item{
        min-width: 160px !important;
        padding: 10px;
        min-height: 300px;
        margin-bottom: 2px;
    }
    .skill-item > h4{
        font-size: 0.5em !important;
        margin-bottom : 3px !important;
    }
    
    .skill-item .tech-chips-vertical{
        padding-top: 0;
    }

    #about-me{
        width: 100vw !important;
        margin: 0 !important; 
    }

    .about-content p{
        line-height: 1;
        font-size: 0.6em;
    }
}

/* iPad Mini and Similar Tablets */
@media (max-width: 768px) {
    /* Styles for medium tablets (768 x 1024) */
}

/* Large Tablets and Small Laptops */
@media (max-width: 1024px) {
    /* Styles for large tablets or small laptops (1024 x 1366) */
}

/* Small Laptops */
@media (max-width: 1366px) {
    /* Styles for small laptops (1366 x 768) */
    #past-projects{
        padding: 5px !important;
        margin-bottom: 5px !important;
    }
    #skills-technologies{
        padding: 5px !important;
        margin-bottom: 15px !important;

    }
    .skill-item{
        min-height: 270px;
    }

    #modalCloseBtn{
        margin-bottom: 40px;
    }

    .modal-content{
        height: 97vh;
    }

    .modal-footer{
        padding-bottom: 10px;
    }
}

/* Full HD Displays */
@media (max-width: 1920px) {
    /* Styles for Full HD monitors (1920 x 1080) */
    #modalCloseBtn {
        margin-bottom: 60px;
    }

    .modal-content {
        height: 97vh;
    }

    .modal-footer {
        padding-bottom: 10px;
    }

    .skill-item {
        width: 25vw;
        margin: 0; 
    }

    .skills-container,
    .completed-skills {
        display: flex !important; 
        flex-wrap: wrap !important; 
        justify-content: center !important;
        align-items: center;
        gap: 20px;
        width: 100%; 
        margin: auto;
    }

    .skill-item {
        flex: 1 1 auto; 
        max-width: 300px; 
        min-width: 250px;
        margin: 10px;
        text-align: center; 
    }

    .skill-item > h4{
        font-size: 0.7em !important;
    }
}
